<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BLL Analysis</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
   
    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Lead Poisoning Dashboard</h1>
        <p>The Missouris Lead Poisoning in kids Data visualizaton</p>
      </div>
    </div>
    <div class="row">
       <div class="col-md-10">
         <!-- map div -->
          <div class="border" id="map" style="height: 500px"></div>

       </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>SELECT YEAR:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>       
      </div>
      <div class="col-md-10">
        <div id="bar"></div>
      </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div id="ThirdChart"></div>
    </div>
  </div>

  <!-- API key -->
  <script type="text/javascript" src="static/js/config.js"></script>

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!--<script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
  <!--<script type="text/javascript" src="static/js/heatmap.js"></script> -->
   <!-- Leaflet heatmap plugin-->
   <!--<script type="text/javascript" src="static/js/leaflet-heat.js"></script>-->

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
